@import "node_modules/bootstrap/scss/bootstrap";
@import "variables";

// Components
@import "components/buttons";
@import "components/dropzone";
@import "components/file";
@import "components/progress";
@import "components/table";
@import "components/video";
@import "components/caption";
@import "components/font";
@import "components/footer";

.background {
  height: 100vh;
  padding-top: 3em;
  padding-bottom: 2vh;

  text-align: center;
  background-color: $delicatewhite;
}

h1 {
  margin-bottom: $spacing-md;
  font-family: "Poppins-semibold";
  color: $midnight-navy !important;
}

p {
  font-family: "Poppins-medium";
  color: $midnight-navy;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
