@import "../variables";

.caption-content {
  margin: $spacing-sm 0;
  padding: $spacing-sm;
  border: 0px solid $light-gray;
  border-radius: $border-radius;
  background-color: $delicatewhite;

  textarea {
    width: 100%;
    height: 50vh;
    min-height: 50vh;
    padding: $spacing-sm;

    border: 0px solid $light-gray;
    border-radius: $border-radius;
    resize: vertical;
    font-family: inherit;
    line-height: 1.5;
    background-color: $delicatewhite;
    &:focus {
      outline: none;
      background-color: $delicatewhite;
      border-color: $aqualake !important;
      box-shadow: 0 0 0 2px rgba($aqualake, 0.2);
    }
  }
}

.caption-result {
  margin-top: $spacing-lg;

  h2 {
    color: $success;
    margin-bottom: $spacing-sm;
  }

  .download-options {
    display: flex;
    gap: $spacing-sm;
    justify-content: center;
    margin-top: $spacing-sm;
  }

  .download-link {
    color: $primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
