@import "../variables";

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3vh;
  background-color: $midnight-navy;
  color: $delicatewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing-sm $spacing-lg;
  font-family: "Poppins-regular";
  font-size: 0.8rem;

  .copyright {
    margin: $spacing-sm;
    color: $delicatewhite;
  }

  .logo {
    height: 3vh;
    width: auto;
  }
}
