@import "../variables";

.file-table {
  margin-top: $spacing-lg;
  width: 100%;

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    th,
    td {
      padding: $spacing-sm;
      text-align: left;
      border-bottom: 1px solid #eee;
    }

    th {
      background-color: $background;
      font-weight: 600;
    }
  }

  .status {
    display: inline-block;
    padding: 4px 8px;
    border-radius: $border-radius;
    font-size: 0.9em;

    &.pending {
      background-color: #e2e3e5;
      color: #383d41;
    }

    &.uploading {
      background-color: #cce5ff;
      color: #004085;
    }

    &.completed {
      background-color: #d4edda;
      color: #155724;
    }

    &.error {
      background-color: #f8d7da;
      color: #721c24;
    }
  }
}
